body {
  font-family: 'Montserrat';
  background-image: url("../src/img/bg.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  margin-top: 50px;
  transform: skewX(-30deg);
  padding: 3px;
  border: 2px solid white;

  @media (max-width: 470px) {
    transform: skewX(0deg);
  }
}

.field__input {
  background-color: grey;
  opacity: 70%;
  padding: 10px;
  margin-right: 5px;
  position: relative;
  z-index: 1;

  input {
    transform: skewX(30deg);
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    background-color: inherit;
    color: #2d2d2d;

    @media (max-width: 470px) {
      transform: skewX(0deg);
    }
  }
}

.input::placeholder {
  color: #2d2d2d;
}

.field__input small {
  transform: skewX(30deg);
  visibility: hidden;
  position: absolute;
  font-size: 18px;
  top: 50px;
  left: 0;

  @media (max-width: 470px) {
    transform: skewX(0deg);
  }
}

.field__input.error small {
  visibility: visible;
  color: #ef0808;
}

.field__input.error input {
  color: #ef0808;
}

.field__input.error input::placeholder {
  color: #ef0808;
}

.field--button {
  button {
    position: relative;
    display: flex;
    align-items: center;

    svg {
      position: absolute;
      font-size: 16px;
      margin: 0;
      transform: skewX(30deg);
      @media (max-width: 470px) {
        transform: skewX(0deg);
      }
    }

    span {
      display: block;
      margin-left: 30px;
      transform: skewX(30deg);
      @media (max-width: 470px) {
        transform: skewX(0deg);
      }
    }
  }
}

.button {
  background-color: #ce2939;
  color: #ffffff;
  border: none;
  outline: none;
  line-height: 42px;
  font-size: 16px;
  width: 100%;
  padding: 0 10px 0 10px;
  text-transform: uppercase;
}